@import '../../../assets/styles/variables';

.header {
  height: 100px;
  background-color: $brand-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;

  .logout {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    cursor: pointer;
    color: #ffffff;

    &:hover {
      color: $brand-bg;
    }
  }
}
