@import '../../../assets/styles/variables';
@import "../../../assets/styles/mixins";

.header {
  height: 100px;
  background-color: $brand-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;

  @include breakpoint(mobile) {
    padding: 0;
  }

  .logout {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    cursor: pointer;
    color: #ffffff;

    &:hover {
      color: $brand-bg;
    }

    @include breakpoint(mobile) {
      margin-right: 10px;
    }
  }
}
