.auth-form {
  .mat-card {
    min-width: 380px;
    max-width: 600px;
    margin: 70px auto 0;

    mat-card-title {
      text-align: center;
      margin-bottom: 20px;
    }

    .api-error {
      margin-bottom: 20px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;

      .mat-form-field {
        width: 100%;
        margin-bottom: 7px;

        .mat-form-field-wrapper {
          padding-bottom: 0 !important;
        }
      }

      .btn-group {
        align-self: flex-end;

        .btn-submit {
          margin-left: 15px;
        }
      }
    }
  }
}
