.todo-form {
  .mat-card {
    form {
      display: flex;
      flex-direction: column;

      .mat-form-field {
        width: 100%;
        margin-bottom: 7px;

        .mat-form-field-wrapper {
          padding-bottom: 0 !important;
        }
      }

      .btn-group {
        align-self: flex-end;

        .btn-submit {
          margin-left: 15px;
        }
      }
    }
  }
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
