/**
  Here are the variables for the project.
 */

$brand-primary: #039be5;
$brand-sapphire: #1B648F;
$brand-sole: #287e8c;
$brand-default: #214360;
$brand-sand: #e4e4e4;
$brand-bg: #e0e0e0;
$brand-smoke: #4E697F;
$brand-dark: #070d13;
