/**
  Here are the variables for the project.
 */

$brand-primary: #039be5;
$brand-sapphire: #1B648F;
$brand-sole: #287e8c;
$brand-default: #214360;
$brand-sand: #e4e4e4;
$brand-bg: #e0e0e0;
$brand-smoke: #4E697F;
$brand-dark: #070d13;


/**
    breakpoint vars
 */
$break-320: 20em;
$break-321: 20.0625em;
$break-480: 30em;
$break-600: 37.5em;
$break-700: 43.750em;
$break-780: 48.75em;
$break-980: 61.25em;
$break-1024: 64em;
$break-1200: 75em;
$break-1224: 76.5em;
$break-1280: 80em;
$break-1366: 85.375em;
$break-1640: 102.5em;
$break-1824: 114em;
