<div class="todo-form">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field>
        <input matInput formControlName="title" type="text" placeholder="Todo description...">
        <mat-error>
          <p *ngIf="title.errors?.minlength" class="error"><sup>*</sup>Title shouldn't be less than 2 words</p>
        </mat-error>
      </mat-form-field>
      <button [disabled]="!form.valid" mat-raised-button type="submit">Save</button>
    </form>
  </mat-card>
</div>
