<div class="todo-form">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field>
        <input matInput formControlName="title" type="text" placeholder="Todo description...">
        <mat-error>
          <p *ngIf="title.errors?.minlength" class="error">Title shouldn't be less than 2 words</p>
        </mat-error>
      </mat-form-field>
      <div class="btn-group">
        <button
          [disabled]="!title.value"
          (click)="onReset()"
          type="reset"
          mat-raised-button
        >
          Reset
        </button>
        <button
          [disabled]="!form.valid"
          (click)="onSubmit()"
          class="btn-submit"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card>
</div>
